@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.footerWrap {
	width: 1080px;
	height: 120px;
	display: flex;
	padding: 40px 0px 40px 0px;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}

.footerLine {
	display: flex;
}

.footerContent {
	margin-right: 15px;
	font-size: 16px;
}

.foonter__name {
	font-weight: bold;
}

.footer3rdLine {
	display: flex;
	justify-content: space-between;
}