@charset "UTF-8";

.headerWrap{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.top_menu_div{
	width:1320px;
	margin:0 auto;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.top_menu_logo{
	width:100px;	
}
.headerMenu{
	margin-right: 10px;
}
.headerMenu:hover{
	color:black;
	font-weight:bold;
	cursor:pointer;
}
.selected{
	color:black;
	font-weight:bold;
}
.mypage_menu{
	display:flex;
}
.newMail{
	width:15px;
	height:15px;
	border-radius:10px;
	background-color:red;
	color:white;
	text-align:center;
	font-size:12px;
	display:none;
}
.newMail:hover{
	cursor:pointer;
}