@charset "UTF-8";

.headerWrap{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.top_menu_div{
	width:1320px;
	margin:0 auto;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.top_menu_logo{
	width:100px;	
}
.headerMenu{
	margin-right: 10px;
	white-spcae: nowrap;
}
.headerMenu:hover{
	color:black;
	font-weight:bold;
	cursor:pointer;
}
.selected{
	color:black;
	font-weight:bold;
}