.title {
	font-size: 24px;
	border: 0px solid #192B53;
	margin-bottom: 20px;
}

.header {
	display: flex;
	border-bottom: 1px solid #ccc;
	justify-content: space-between;
	padding-bottom: 20px
}

.userPage {
	height: 40px;
	border-radius: 20px;
	padding: 5px 40px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
	margin-top: auto;
}

.userPage:hover {
	background-color: #192B53;
	color: #FFFFFF;
}

.board {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.userImpo {
	display: flex;
	border: 0px solid #192B53;
/* 	justify-content: space-between; */
}

.userName {
	margin-top: 10px;
	margin-left: 16px;
}

.status {
	height: 20px;
	margin-top: 9px;
	margin-left: 16px;
	border: 1px solid #DC3545;
	border-radius: 20px;
	padding: 1px 5px;
	background-color: #DC3545 ;
	color: #FFF;
}

.content {
	display: flex;
	border: 0px solid #192B53;
	justify-content: space-between;
}

.par-title {
	width: 900px;
	border: 0px solid #192B53;
	margin-top: 10px;
}

.view {
	border-radius: 20px;
	padding: 10px 10px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
	margin: 0 auto;
}

.view:hover {
	background-color: #192B53;
	color: #FFFFFF;
}

.applicants {
	margin-top: 9px;
	margin-left: 780px;
}

.par_paging {
	text-align: center;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	border: 0px solid #192B53;
}

.par_back_page, .par_next_page {
	margin-left: 10px;
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
}

.par_back_page:hover, .par_next_page:hover {
	background-color: #192B53;
	color: #FFFFFF;
}