.body {
	width: 1000px;
	border: 0px solid gray;
	align-items: center;
	overflow: hidden;
}

.par-title {
	padding-top: 10px;
	font-size: 24px;
}

.par-title input[type="text"], 
.par-title input[type="datetime-local"] {
	font-size: 20px;
	width: 1000px;
	padding: 10px;
	padding-bottom: 2px;
	padding-left: 0px;
	border: 0px solid #ccc;
	border-bottom: 1px solid #000;
	outline: none
}

.writerImpo {
 	display: flex;
	border-bottom: 1px solid #ccc;
	justify-content: space-between;
	padding-bottom: 10px
}

.par-name {
	width: 500px;
	margin-top: 10px;
	margin-left: 16px;
}

.par-views {
	text-align: right;
	height: 20px;
	margin-top: 10px;
	margin-left: 300px;
	border: 0px solid #192B53;
	flex: 1; /* 공간을 차지하도록 설정 */
}

.par-wdate {
	height: 20px;
	margin-left: 200px; /* 왼쪽 여백 추가 */
	border: 0px solid #192B53;
	margin-top: 5px;
}

.par-row {
	display: flex;
	margin-bottom: 10px;
}

.par-cell {
	width: 100px;
	border-bottom: 1px solid #ccc;
	padding: 15px 10px;
	font-weight: bold;
	opacity: 0.8; /* 연한 글자색 설정 */
}

.par-date {
	width: 500px;
	padding: 15px 10px;
	opacity: 0.8;
}


.par-content {
	width: 1000px;
	border-bottom: 0px solid #ccc;
	margin-top: 10px;
	padding-bottom: 40px;
}

.textarea {
	padding: 0px 10px;
	border-radius: 15px; 
	resize: none;
	width: 977px; 
	height: 80px;	
}

.updateOK-bt {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 10px;
	border-radius: 20px;
	padding: 5px 40px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}

.updateOK-bt:hover {
	background-color: #192B53;
	color: #FFFFFF;
}