.userImpo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 821px;
	padding: 10px 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
	background-color: transparent;
}

.myPartyBt {
	margin-left: auto;
	border-radius: 20px;
	border: 1px solid #192B53;
	background-color: #192B53;
	cursor: pointer;
	color: #FFFFFF;
}

.userName {
	margin-left: 16px;
	margin-bottom: 20px;
	font-size: 20px;
}

.userName a {
	text-decoration: none;
	color: #000;
}

.selectAll {
	display: flex;
	align-items: center;
	color: gray;
}

.par-selectAll, .mre-selectAll {
	margin-left: 10px;
	border-bottom: 1px solid gray;
	cursor: pointer;
}

.par_paging, .mre_paging {
	width: 821px;
	text-align: center;
}

.par_back_page, .par_next_page, .mre_back_page, .mre_next_page {
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
}

.par_back_page:hover,
.par_next_page:hover,
.mre_back_page:hover,
.mre_next_page:hover {
	background-color: #192B53;
	color: #FFFFFF;
}

.formContainer {
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #192B53;
	margin-left: auto;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
}

.formContainer:hover {
	background-color: #192B53;
}
