#memberreview_list > div{
	width: 1000px;
    margin: 0px auto;
    border: 1px solid blue;
}

.custom-div{
	border: 1px solid #000;
	width: 80%;
	font-size: 40px;
}

.star-rating {
  display: inline-block;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #ccc;
  cursor: pointer;
}

.star.active {
  color: gold;
}


.star-rating .star.selected {
    color: gold; /* 별점이 선택된 경우의 스타일 */
}