
.par-post {
	width: 300px;
	height: 300px;
	border : 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 44px 20px 0px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.par-bt {
	width: 90%;
	border-radius: 20px;
	padding: 10px 30px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
}

.par-bt:hover {
	background-color: #192B53;
	color: #FFFFFF;
}

}
.par-title {
	font-size: 16px;
	font-weight: bold;
}

.par-container {
	width: 280px;
	padding: 20px 0px 50px 0px;
	font-size: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* 세 개의 열로 나누기 */
	gap: 1px;
}

.par-list, .par-data {
	font-size: 12px;
	display: grid;
	padding-top: 20px;
	grid-template-rows: repeat(3, auto); /* 세 개의 행으로 나누기 */
	gap: 2px; /* 행 사이의 간격 설정 */
}

.par-list div {
	font-weight: bold;
	opacity: 0.8; /* 연한 글자색 설정 */
}

.par-data div {
	width: 130px;
	opacity: 0.5; /* 연한 글자색 설정 */
}

.board-container {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.board {
	width: 821px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.board-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.board-cell {
	flex: 1;
	padding: 5px;
}

.board-title {
	font-weight: bold;
}

.board-content {
	margin-top: 10px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.board-content-cell {
	padding: 5px;
}

insert-from {
	width: calc(100% - 20px);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.star-rating {
	display: inline-block;
}

.star {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #ccc;
	cursor: pointer;
}

.star.active {
	color: gold;
}

.star-rating .star.selected {
	color: gold;
}