.userPage-body {
	width: 1000px;
	border: 0px solid gray;
	align-items: center;
	overflow: hidden;
}

.userPage-data {
	width: 1100px;
	border: 0px solid gray;
}

.userImpo {
	width: 960px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
	background-color: transparent;
}

.myPartyBt {
	margin-left: auto;
	padding: 5px 30px 5px 30px;
	border-radius: 20px;
	border: 1px solid #192B53;
	background-color: #192B53;
	cursor: pointer;
	color: #FFFFFF;
}

.userName {
	margin-left: 16px;
	margin-bottom: 20px;
	font-size: 20px;
}

.userName a {
	text-decoration: none;
	color: #000;
}

.selectAll {
	border-bottom: 1px solid gray;
	display: flex;
	align-items: center;
	color: gray;
}

.par-selectAll, .mre-selectAll {
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.mre-selectAll {
	border-left: 1px solid gray;
	padding-left: 10px;
}

.par_paging, .mre_paging {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.par_back_page, .par_next_page, .mre_back_page, .mre_next_page {
	margin-left: 10px;
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
}

.par_back_page:hover, .par_next_page:hover, .mre_back_page:hover,
	.mre_next_page:hover {
	background-color: #192B53;
	color: #FFFFFF;
}

.mre_paging {
	display: flex;
	justify-content: flex-end;
	border: 0px solid #192B53;
}

.mre_back_page {
	margin-left: 400px;	
}

.formContainer {
	margin-left: 300px;
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #192B53;
	color: #192B53;
	cursor: pointer;
	background-color: transparent;
}

.formContainer:hover {
	background-color: #192B53;
}