@charset "UTF-8";

.not_title_insert{
	border: 1px solid #ccced1;
	outline: none;
	width: 821px;
    height: 35px;
    font-size: 26px;
    margin: 10px 0 10px 0;
}


.not_write_footer {
	margin-top: 3px;
	display: flex;
}

.not_fileupload{
	margin-right: auto;
}

.not_textArea{
	width: 823px;
}
