@charset "UTF-8";

.not_top{
	display: flex;
	margin-bottom: 20px;
}

.notice_h3{
	margin-right: auto;
}


.not_body {
	text-align: center;
/* 	display: flex; */
}

.not_header{
	display: flex;
	border-top: 1px solid black;
	padding: 10px 0 10px 0;
}

.not_content{
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
}

.not_selectOne{
	display: flex;	
	border-bottom: 1px solid 
;
	align-items: center;
	padding: 10px 0 10px 0;
}

.not_selectOne:last-child{
	border-bottom: 1px solid black;

}

.not_title, .not_content_title{
	width: 450px;
	
}
.not_content_title{
	text-align: left;
}

.not_writer, .not_content_writer{
	width: 150px;
}
.not_wdate, .not_content_wdate{
	width: 100px;
	margin-right: 100px;
}
.not_vcount, .not_content_vcount{
	width: 75px;
}

.not_search {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	height: 40px;
	align-items: center;
}

.change_page {
	margin-top: 10px;
	text-align: center;
}

.next_page {
	margin-left: 5px;
}

.not_searchkey{
	background-color: white;
	padding-right: 30px;
	height: 35px;
}

.not_searchword{
	outline: none;
	height: 33px;;
	width: 300px;
	border-width: 1px;
	padding-left: 5px;
}

.not_searchBtn{
	background-color: white;
	border-width: 1px;
	height: 35px;
	width: 50px;
	line-height: 3px;
	cursor: pointer;
}

.pre_page, .next_page {
	border-radius: 20px;
	padding: 10px 40px;
	border: 1px solid gray;
	cursor: pointer;
}