.shopList {
	margin-top: 15px;
}

.large {
	position: relative;
	display: flex;
	width: 1280px;
	height: 240px;
    border-bottom: 1px solid black;
}

.large:hover {
    background-color: #f0f0f0; /* 살짝 회색으로 지정, 원하는 색상으로 변경 가능 */
    cursor: pointer; /* 마우스 커서 모양을 포인터로 변경 */
}

.large:first-child {
	border-top: 1px solid black;
}

.preview {
    width: 300px;
    height: 200px;
}

.partyCountBox {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
}

.partyIcon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    filter: invert(100%);
}

.distanceBox {
	position: absolute;
    top: 190px;
    right: 990px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
}

.navIcon {
	width: 12px;
	height: 12px;
}

.imgContainer {
	margin-top: 15px;
}

.shopName {
	margin-top: 30px;
	margin-left: 20px;
}
.shopName .div {
	martin-bottom: 10px;
}

.rateForm {
	display: flex;
}

.rateContent{
	text-align: center;
}

.reviewCount {
	margin-top: 5px;
	margin-left: 15px;
}

.address {
	margin-top: 15px;
}

.large > div > div:first-child {
    font-size: 30px;
    font-weight: bold;
}

.large > div > div:last-child {
    font-size: 16px;
    color: #666;
}

.topForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 50px;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
}

.searchWord {
	display: inline-block;
	width: 635px;
	border: none;
	outline: none;
}
.button {
    background: none;
    border: none;
}

.yellowStar {
    font-size: 20px;
    color: #ffc107; 
}

.grayStar {
    color: #ccc;
    font-size: 20px;
}

.reviewCount {
	color: #ccc;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

#pre_page,
#next_page {
    display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        background-color: #C24229;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
}