@charset "UTF-8";

.eve_grade_button{
	display: none;
	background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(105, 126, 149);
    padding: 10px 50px;
    cursor: pointer;
    
    color: rgb(23, 57, 92);
    font-weight: bold;
}
.eve_grade_button:hover{
/* 	background-color: #eaeded; */
	background-color: #192B53;
	color: white;
}

.eve_button{
	border-radius: 20px;
	padding: 10px 40px;
	border: 1px solid rgb(105, 126, 149);
	cursor: pointer;
	background-color: white;
	color: rgb(23, 57, 92);
    font-weight: bold;
}
.eve_button:hover{
/*  	background-color: #eaeded; */
	background-color: #192B53;
	color: white;
}

.eve_pre_button, .eve_next_button {
	border-radius: 20px;
	padding: 10px 40px;
	border: 1px solid rgb(105, 126, 149);
	cursor: pointer;
	background-color: white;
	color: rgb(23, 57, 92);
    font-weight: bold;
}

.eve_pre_button:hover, .eve_next_button:hover{
/* 	background-color: #eaeded; */
	background-color: #192B53;
	color: white;
}
