@charset "UTF-8";

.eve_grade_button{
	display: none;
	background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 50px;
    cursor: pointer;
}
.eve_button{
	border-radius: 20px;
	padding: 10px 40px;
	border: 1px solid gray;
	cursor: pointer;
	background-color: white;
}
