@charset "UTF-8";

.eve_writer_div{
	display: flex;
	align-items: center;
	border-top: 1px solid rgb(172, 172, 177);
	border-bottom: 1px solid rgb(219, 219, 219);
	height: 35px;
}
.eve_writer_left{
	width: 100px;
	height: 100%;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
    line-height: 35px;
}
.eve_writer_right{
	padding-left: 20px;
}

.eve_title_div{
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(219, 219, 219);
}
.eve_title_left{
	width: 100px;
	height: 100%;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
    line-height: 35px;
}
.eve_title_right{
	padding-left: 20px;
}
.eve_title_input{
	border: 1px solid rgb(219, 219, 219);
	outline: none;
	width: 350px;
    height: 25px;
    font-size: 16px;
    padding-left: 10px;
}

.eve_deadline_div{
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(219, 219, 219);
}
.eve_deadline_left{
	width: 100px;
	height: 100%;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
    line-height: 35px;
}
.eve_deadline_right{
	padding-left: 20px;
}
.eve_deadline_time{
	border: 1px solid rgb(219, 219, 219);
    padding: 3px 3px;
}

.eve_textArea{
	width: 823px;
	height: 460px;
	display: flex;
	align-items: center;
	
}
.eve_content_left{
	width: 100px;
	height: 100%;
	line-height: 460px;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
}
.eve_content_right{
	padding-left: 20px;
}



.eve_check_byte{
	border-bottom: 1px solid rgb(219, 219, 219);
	height: 35px;
	display: flex;
}
.eve_byte_left{
	width: 100px;
	height: 100%;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
}
.eve_byte_right{
	padding-left: 20px;
}



.eve_upload_div {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(172, 172, 177);
}
.eve_upload_left{
	width: 100px;
	height: 100%;
    background-color: rgb(243, 243, 243);
    padding-left:20px;
    line-height: 35px;
}
.eve_upload_right{
	padding-left: 20px;
}

.eve_insert_div{
	margin-top: 10px;
	float: right;
}

