@charset "UTF-8";

.eve_top{
	display: flex;
	margin-bottom: 20px;
}
.event_h3{
	margin-right: auto;
}


.eve_body {
  text-align: center;
  /* 	display: flex; */
}

.eve_header {
  display: flex;
  border-top: 1px solid rgb(172, 172, 177);
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.eve_content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(172, 172, 177);
}

.eve_selectOne {
  display: flex;
  border-bottom: 1px solid rgb(219, 219, 219);
  align-items: center;
  padding: 10px 0 10px 0;
}
.eve_selectOne:last-child{
	border-bottom: 2px solid rgb(216, 216, 219);
}

.eve_title,
.eve_content_title {
  width: 500px;
}

.eve_writer,
.eve_content_writer {
  width: 100px;
  margin-right: 25px;
}
.eve_wdate,
.eve_content_wdate {
  width: 100px;
}
.eve_deadline,
.eve_content_deadline {
  width: 100px;
  margin-right: 25px;
  
}
.eve_vcount,
.eve_content_vcount {
  width: 75px;

}

.eve_content_title {
  display: flex;
  align-items: center;
}

.eve_search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.eve_change_page {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}




.event_check {
  font-size: 9px;
  color: #959595;
  width: 30px;
  min-width: 30px;
}

.vo_title {
  margin-left: 10px;
  text-align: left;
}

.eve_searchkey{
	background-color: white;
	padding-right: 30px;
	height: 35px;
	border: 1px solid rgb(105, 126, 149);
	color: rgb(23, 57, 92);
    font-weight: bold;
}

.eve_searchword{
	outline: none;
	height: 33px;;
	width: 300px;
	padding-left: 5px;
	border: 1px solid rgb(105, 126, 149);
	color: rgb(23, 57, 92);
    font-weight: bold;
}

.eve_searchBtn{
	background-color: white;
	border-width: 1px;
	height: 35px;
	width: 50px;
	line-height: 3px;
	cursor: pointer;
	border: 1px solid rgb(105, 126, 149);
	color: rgb(23, 57, 92);
    font-weight: bold;
}


