@charset "UTF-8";

.eve_body {
	width: 800px;
	min-height : 600px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.eve_info_one{
	border-bottom: 1px solid rgb(219, 219, 219);
	padding: 5px 25px 5px 15px;
	font-size: 12px;
	display: flex;
}

.eve_title_one{
	border-top: 1px solid rgb(172, 172, 177);
	border-bottom: 1px solid rgb(172, 172, 177);
	padding: 5px 0 5px 15px;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-size: 20px;
	
}

.eve_one_writer{
	margin-right: auto;
}

.eve_one_vcount{
	margin-left: 30px;
}

.eve_content_img {
	margin-left: 5px;
	margin: 0 0 auto 0;
}

.up_del_button {
	border-top: 1px solid rgb(219, 219, 219);
	margin: 0 5px 0 5px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
}


.eve_content_div{
	padding: 20px 0 0 40px; 
}

.eve_img_div{
	margin-top: 10px;
	text-align: center;
}

.eve_img{
	width: 85%;
}

.eve_one_deadline{
	margin-left: 10px;
}




.