@charset "UTF-8";
.mailInsertWrap{
	width:650px;
	height:500px;
	margin:0 auto;
}
.mailInsertHead{
	height:40px;
	line-height:50px;
	font-size:28;
	font-weight:bold;
}
input, textarea{
	padding:15px;
	width:480px;
	height:20px;
	border:1px solid #DBDBDB;
	border-radius:15px;
	resize: none;
}
.mailInsert{
	width:650px;
	height:60px;
	border-top:1px solid #DBDBDB;
	display:flex;
	align-items: center
}
#recipientName{
	border:none;
}
.mailInsertLeft{
	width:100px;
	padding-left:20px;
	font-size:18;
	font-weight:bold;
}
.mailInsertContent{
	height:270px;
}
.ContentWrap{
	display:flex;
	flex-direction: column;
}
#Content{
	height:200px;
}
.mailInsert__bottomWrap{
	display:flex;
	justify-content: flex-end;
	border-top:1px solid #DBDBDB;
}
.byteCnt{
	display:flex;
	justify-content: flex-end;
}
.InsertBtn{
	margin-top:13px;
	width:180px;
	height:40px;
	display:flex;
	border-radius:25px;
	align-items: center;
	justify-content: center;
	color:#ffffff;
	background-color:#17395C;
}
.InsertBtn:hover{
	background-color: #23527c;
	cursor: pointer;
}