@charset "UTF-8";

.bodyWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loginText {
	font-size: 35px;
	text-align: center;
}

.loginWrap {
	margin-top: 55px;
	width: 450px;
}

.inputWrap {
	margin-bottom: 55px;
}

.emailWrap {
	display: flex;
	align-items: center;
	margin-bottom: 22px;
}

.emailInput, .pwInput {
	flex-grow: 1;
}

input[type="email"], input[type="password"] {
	width: 410px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #686868;
	border-radius: 8px;
	padding-left: 30px;
	color: #686868;
	font-size: 15px;
}

.loginBtnWrap {
	text-align: center;
}

.LoginBtn {
	width: 440px;
	height: 50px;
	display: flex;
	background-color: #17395C;
	color: #fff;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.loginBottmMenu {
	width:270px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	margin-top: 35px;
}
.findId{
	padding:0px 7px 0px 7px;
	border-left:1px solid #17395C;
	border-right:1px solid #17395C;
}

.singUp, .findId, .findPw {
	cursor: pointer;
	font-size: 15px;
	display:flex;
	justify-content: center;
	color:#17395C;
}
.singUp:hover, .findId:hover, .findPw:hover{
	color:#23527c;
	font-weight:bold;
}

.LoginBtn:hover {
	background-color: #23527c;
}