.topForm{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 1320px;
	height: 50px;
}

.searchForm {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 700px;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
}
.searchWord {
	width: 635px;
	border: none;
	outline: none;
}
.button {
    background: none;
    border: none;
}

.shopList {
	margin-top: 50px;
}

.shop-container {
    width: 1310px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    min-width: 1100px;
    justify-Content: space-between;
    margin-bottom: 30px;
}

.cate1,
.cate2,
.cate3,
.cate4,
.cate5 {
	padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #DDDDDD;
    border-radius: 25px 25px 0 0;
    border-bottom: 1px solid;
}

.shop1Container,
.shop2Container,
.shop3Container,
.shop4Container,
.shop5Container {
	background:#EEEEEE;
	width: 1230px;
	border-radius: 25px;
}

.shop-item {
    flex-shrink: 0;
    width: 270px;
    height: 270px;
    margin: 9px;
    padding: 10px;
    position: relative;
}

.partyCountBox {
	position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
}

/* partyIcon 스타일 */
.partyIcon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	filter: invert(100%);
}

.shop-item:hover {
    background-color: #f0f0f0; /* 살짝 회색으로 지정, 원하는 색상으로 변경 가능 */
    cursor: pointer; /* 마우스 커서 모양을 포인터로 변경 */
}

.shop1-items,
.shop2-items,
.shop3-items,
.shop4-items,
.shop5-items {
    display: flex;
    width: 1230px;
    margin-left: 9px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    border-radius:25px;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 9px;
}

.left-arrow,
.right-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
}

.shop-item .symbolImage {
    width: 230px;
    height: 230px;
    margin-left : 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.shopTitle {
	textAlign: left;
}

.shopInfo {
	display: flex;
	justify-Content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.modal iframe {
	width: 840px;
	height: 890px;
	border: none;
	background-color: white;
	border-radius:25px;
}

.buttonContainer {
        text-align: right;
        margin-top: 20px;
    }

.addShopButton {
        padding: 10px 20px;
        background-color: #C24229;
        color: #fff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin-right: 45px;
}
    
.addShopButton:hover {
    background-color: #0056b3;
}

.addShopButton:focus {
    outline: none;
}