@charset "UTF-8";

.faq_div{
	width: 500px;
}

.faq_title{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
}

.faq_header {
	border-bottom: 1px solid gray;
	text-align: center;
}

.faq_content {
	border-bottom: 1px solid gray;
	text-align: right;
}

.faq_insert {
	width: 45%;
	display: inline;
	text-align: right;
}

.faq_pre_next {
	width: 30%;
	display: inline;
}